@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./themes.css";

html,
body {
  font-family: "Lexend", "Geneva", sans-serif;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary);
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #0f0f0f;
}

* {
  box-sizing: border-box;
}
